<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа с тэгом html, где указываем язык содержимого-->
<html lang="ru">
    <!--Заголовок страницы, контейнер для других важных данных(не отображается)-->
    <head>
        <!--Заголовок страницы в браузере-->
        <title>Банкрот-эксперт</title>
        <!--Кодировка страницы-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <!--Привязка css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/form.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <!--Отображаемое тело страницы-->
    <body>
        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                        <a class="logo_link" href="../" target="_blank" data-scroll="#main">Банкрот-эксперт</a>
                    </div>
                    <nav class="nav">
                        <a class="link" href="/need" target="_blank">Нужно ли банкротиться?</a>
                        <a class="link" href="/judicial_bankruptcy" target="_blank">Судебное банкротство</a>
                        <a class="link" href="/out-of-court_bankruptcy" target="_blank">Внесудебное банкротство</a>
                    </nav>
                    <div>
                      {% if 'loggedin' in session %}
                        <a class="link_auto" href="/profile" target="_blank">Профиль</a>
                        <form action="/logout" method="post">    
                            <input class="link_auto" type="submit" value="Выйти">
                        </form>
                        {% else %}
                        <a class="link_auto" href="/sign-in" target="_blank">Войти</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Анкета</h2>
                </div>
                <div class="card__group">
                    {% if question.id == 1 %}
                    <p id="text">Наш сервис предназначен для тех, кто хочет узнать о банкротстве и определиться с тем, стоит ли ему пытаться избавиться от долгов с помощью данной процедуры. На сайте вы сможете пройти опрос и узнать, есть ли у Вас предпосылки для подачи заявления на оформление банкротства, а также возможных <a href="/need">рисках и последствиях</a>, с которыми можно столкнуться в ходе процедуры. Банкротство - вынужденная мера! Если у Вас нет другого выхода, то после заполнения анкеты Вы сможете узнать, какое банкротство подойдет именно Вам.</p>
                    {% endif %}
                </div><!--/.card-->
                <form class='form' method="POST">
                    {% if question.id > 0 %}
                        <h1 class="question" id="question{{ question.id }}">
                            {{ question.text }}
                            {% if question.comment %}
                                <img src="{{ url_for('static', filename='img/comment.png') }}" data-toggle="popover" data-content="{{ question.comment }}" alt="comment" style="width:20px;height:20px;">
                            {% endif %}
                        </h1>     
                        {% if question.id != 9 %}     
                            <div class="answer-group">
                                <input class="answer" type="radio" id="yes" name="next" value="{{ question.next.yes }}">
                                <label for="yes">Да</label>
                            </div>
                        {% endif %}
                            <div class="answer-group">
                                <input class="answer" type="radio" id="no" name="next" value="{{ question.next.no }}">
                                <label for="no">Нет</label>
                            </div>
                        {% if question.id == 9 %}
                            <div class="answer-group">
                                <input class="answer" type="radio" id="end" name="next" value="{{ question.next.end }}">
                                <label for="end">Производство окончено в связи с отсутствием имущества</label>
                            </div>
                            <div class="answer-group">
                                <input class="answer" type="radio" id="again" name="next" value="{{ question.next.again }}">
                                <label for="again">Производство окончено, но после этого возбуждено новое</label>
                            </div>
                        {% endif %}
                            <div class="buttons">
                                <input class="button" type="submit" value="Далее">
                                {% if question.id != 1 %}
                                <a class="button" href="{{ url_for('back') }}">Назад</a>
                                {% endif %}
                            </div>
                    {% else %}
                        {% if question.id == -1%}
                            <h1 class="question" id="question{{ question.id }}">Банкротство вам не подходит. Почему?</h1>
                            <div class="card__group"><div> {{res.text|safe}}</div></div>
                        {% elif  question.id == -3 %}
                            <h1 class="question" id="question{{ question.id }}">У Вас есть возможность пройти процедуру внесудебного банкротства.</h1>
                            <div class="card__group"> <div>{{ res.text|safe }}</div></div>
                            <div class="card__group"> <div>Подробнее про процедуру внесудебного банкротства Вы можете узнать по <a href ="/out-of-court_bankruptcy" target="_blank"> ссылке</a>.</div></div>
                        {% elif  question.id == -2 %}
                            <h1 class="question" id="question{{ question.id }}">У Вас есть возможность пройти процедуру судебного банкротства.</h1>
                            <div class="card__group"> <div>{{ res.text|safe }}</div></div>
                            <div class="card__group"> <div>Подробнее про процедуру судебного банкротства Вы можете узнать по <a href ="/judicial_bankruptcy" target="_blank"> ссылке</a>.</div></div>
                        {% endif %}
                        <br>
                        <a class="button2" href="{{ url_for('back') }}">Назад</a>
                        </form>

                        {% for q in saved %}
                            <form class='form' method="POST">
                            {{q.0}} {{q.1}}
                            </form>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">                     
                        <a class="logo_link" href="../" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                </div>
                <div class="small__text">Администрация сайта не несет ответственности за дальнейшие действия пользователя, основанные на полученных данных.</div>
            </div>
        </footer> <!--MAKED-->
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                offset: '45, 0'
            }); 
            
        });
    </script>
</html>