<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа с тэгом html, где указываем язык содержимого-->
<html lang="ru">
    <!--Заголовок страницы, контейнер для других важных данных(не отображается)-->
    <head>
        <!--Заголовок страницы в браузере-->
        <title>Банкрот-эксперт</title>
        <!--Кодировка страницы-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <!--Привязка css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/form.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <!--Отображаемое тело страницы-->
    <body>


        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                    <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>

                    <nav class="nav">
                        <a class="link" href="/need">Нужно ли банкротиться?</a>
                        <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                        <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                        <a class="link" href="/settings">Настройки</a>
                        <a class="link" href="#" data-scroll="#contacts">Контакты</a>
                        {% if 'loggedin' in session %}
                        <a class="link_auto" href="/profile">Профиль</a>
                        <form action="/logout" method="post">
                            <input class="link_auto" type="submit" value="Выйти">
                        </form>
                        {% else %}
                        <a class="link_auto" href="/sign-in">Войти</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </header>
        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Анкета</h2>
                </div>
                <div class="card__group">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus officia dolorem amet ipsa delectus distinctio consequatur dolores. Fugiat possimus ipsum explicabo culpa aspernatur repellat, sed quia at dolores quod nisi, non adipisci cumque ducimus architecto deserunt, impedit exercitationem. Nulla tempore veniam adipisci dolorem excepturi totam, fuga illo voluptatum. Maiores atque possimus repudiandae, quas quaerat, eum labore porro aut corporis, cum rerum consequuntur ipsum? Commodi consectetur fuga reiciendis praesentium perspiciatis est eaque nam, ullam omnis magnam maxime dignissimos eos optio dolores molestias! Minima eos ad enim aut eum qui dolorem laborum dignissimos, maiores odit ab temporibus.
                </div><!--/.card-->
                <form class='form' method="POST">
                    <h1 class="question" id="question{{ question.id }}">{{ question.text }}</h1>
                    {% if question.id > 0 %}
                        <div class="answer-group">
                            <input class="answer" type="radio" id="yes" name="next" value="{{ question.next.yes }}">
                            <label for="yes">Да</label>
                        </div>
                        <div class="answer-group">
                            <input class="answer" type="radio" id="no" name="next" value="{{ question.next.no }}">
                            <label for="no">Нет</label>
                        </div>
                        <div class="buttons">
                            {% if question.id != 1 %}
                                <a class="button" href="{{ url_for('back') }}">Назад</a>
                            {% endif %}
                            <input class="button" type="submit" value="Далее">
                        </div>
                    {% endif %}
                </form>
                
                
                
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">
                        
                        <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                    <div class="small__text">
                        <p><h3>Категории</h3></p>
                        <br>
                        <p><a href="#">Судебное банкротство</a></p>
                        <p><a href="#">Внесудебное банкротство</a></p>
                        <p><a href="#">Настройки</a></p>
                    </div>
                    <div class="small__text">
                        <p><h3>Навигация</h3></p>
                        <br>
                        <p><a href="#">Главная</a></p>
                        <p><a href="#">Контакты</a></p>
                    </div>
                </div>
                <div class="small__text">© 2024 Банкрот-эксперт</div>
            </div>
        </footer> <!--MAKED-->


    </body>
</html>