<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа с тэгом html, где указываем язык содержимого-->
<html lang="ru">
    <!--Заголовок страницы, контейнер для других важных данных(не отображается)-->
    <head>
        <!--Заголовок страницы в браузере-->
        <title>Банкрот-эксперт</title>
        <!--Кодировка страницы-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <!--Привязка css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <body>

      <header class="header">
          <div class="container">
              <div class="header__inner">
                  <div class="logo">
                    <a class="logo_link" href="#" data-scroll="#main">Банкрот-эксперт</a>
                  </div>
                    <nav class="nav">
                            <a class="link" href="/need">Нужно ли банкротиться?</a>
                            <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                            <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                    </nav>
                  <div>
                    {% if 'loggedin' in session %}
                        <a class="link_auto" href="/profile">Профиль</a>
                        <form action="/logout" method="post">
                            <input class="link_auto" type="submit" value="Выйти">
                        </form>
                        {% else %}
                        <a class="link_auto" href="/sign-in">Войти</a>
                    {% endif %}
                  </div>
              </div>
          </div>
      </header>

      <div class="intro" id="main">
          <div class="container">
              <div class="intro__inner">
                  <br>
                  <h1 class="intro__title">Узнай, какое банкротство подходит именно тебе</h1>
                  <a class="btn" href="{{ url_for('form') }}">Заполни анкету</a>
              </div>
          </div>
          <div class="slider">
              <div class="container">
                  <div class="slider__inner">
                      <div class="slider__item active">
                          <a class="btn2" href="#" data-scroll="#about"> <span class="slider__num">Плюсы и минусы суденого банкротства</span> </a>  
                      </div>
                      <div class="slider__item active">
                          <a class="btn2" href="#" data-scroll="#about"> <span class="slider__num">Плюсы и минусы внесудебного банкротства</span> </a> 
                      </div> 
                  </div>
              </div>
          </div>
      </div>

      
       <!--MAKED-->

       <section class="section__green" id="about">
        <div class="container">
    
            <div class="section__header">
                <h2 class="section__title">Плюсы и минусы</h2>
            </div>
            <div class="wedo">
                <div class="accordion">
                    
                    <div class="accordion__item"  data-collapse="#wedo_2">
                        <div class="accordion__header" >
                            <div class="accordion__icon">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div class="accordion__title"><h3>Судебное банкротство</h3></div>
                        </div>
                        <div class="accordion__content" id="wedo_2">
                            <h3>Плюсы</h3>
                            <p>• помочь всем, кто заинтересован в открытии своего малого бизнеса по производству строительных смесей и материалов;</p>
                            <p>• увеличить процент безотходности деревообрабатывающей промышленности России;</p>
                            <p>• помочь нашим клиентам создать рабочие места в районах богатыми лесными ресурсами, но географически удалённых от областных центров;</p>
                            <h3>Минусы</h3>
                            <p>• увеличить глубину переработки древесины на местном уровне;</p>
                            <p>• дать людям реальные инструменты для строительства своими руками недорогих жилых домов.</p>
                        </div>
                    </div>

                    <div class="accordion__item" data-collapse="#wedo_3">
                        <div class="accordion__header">
                            <div class="accordion__icon">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div class="accordion__title"><h3>Внесудебное банкротство</h3></div>
                        </div>
                        <div class="accordion__content" id="wedo_3">
                            <h3>Плюсы</h3>
                            <p>• помочь всем, кто заинтересован в открытии своего малого бизнеса по производству строительных смесей и материалов;</p>
                            <p>• увеличить процент безотходности деревообрабатывающей промышленности России;</p>
                            <p>• помочь нашим клиентам создать рабочие места в районах богатыми лесными ресурсами, но географически удалённых от областных центров;</p>
                            <h3>Минусы</h3>
                            <p>• увеличить глубину переработки древесины на местном уровне;</p>
                            <p>• дать людям реальные инструменты для строительства своими руками недорогих жилых домов.</p>
                        </div>
                    </div>
                </div><!-- /.accordion -->
    
                
            </div>
        </div>
    </section>

      <footer class="small__section" id="contacts">
          <div class="container">
              <div class="small__inner">
                  <div class="small__text">
                      <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                      <p>Контакты: +7(999)-999-99-99</p>
                  </div>
              </div>
              <div class="small__text">© 2024 Банкрот-эксперт</div>
          </div>
      </footer> <!--MAKED-->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js">
      </script>
      <script src="../static/css/app.js"></script>
      
    </body>
</html>




