<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа с тэгом html, где указываем язык содержимого-->
<html lang="ru">
    <!--Заголовок страницы, контейнер для других важных данных(не отображается)-->
    <head>
        <!--Заголовок страницы в браузере-->
        <title>Банкрот-эксперт</title>
        <!--Кодировка страницы-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <!--Привязка css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <!--Отображаемое тело страницы-->
    <body>


        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                      <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>
                      <nav class="nav">
                              <a class="link" href="/need">Нужно ли банкротиться?</a>
                              <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                              <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                      </nav>
                    <div>
                      {% if 'loggedin' in session %}
                          <a class="link_auto" href="/profile">Профиль</a>
                          <form action="/logout" method="post">
                              <input class="link_auto" type="submit" value="Выйти">
                          </form>
                          {% else %}
                          <a class="link_auto" href="/sign-in">Войти</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Что из себя представляет судебное банкротство?</h2>
                </div>
                <div class="card__group">
                    <div>
                        Подача заявления о признании гражданина банкротом в суд может быть как <b>правом</b>, так и <b>обязанностью</b>.
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        <b>Право</b> подать заявление имеет место при наличии следующих условий:
                            <ul>
                                <li>задолженность составляет <b>более 500 тысяч</b> рублей;</li>
                                <li>обязательства не исполнены по истечении <b>3</b> месяцев <b>с момента, когда должны были быть исполнены</b></li>
                            </ul>	
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        <b>Обязанность</b> подать заявление имеет место при наличии следующих условий:
                            <ul>
                                <li>задолженность составляет <b>более 500 тысяч</b> рублей;</li>
                                <li>удовлетворение требований одного кредитора или нескольких кредиторов приводит к <b>невозможности</b> исполнения гражданином обязательств в полном объеме перед <b>другими</b> кредиторами</li>
                            </ul>	

                    </div>
                </div>
                <div class="card__group">
                    <div>
                        <b>Важно! </b>Если Вы не подали заявление в суд в течение 30 рабочих дней с того момента, когда узнали о невозможности исполнения, то Вам придется выплатить штраф от 1000 до 3000 рублей (п. 5 ст. 14.13 КоАП РФ).
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        <b><i>Для выявления наличия у Вас необходимых для открытия процедуры судебного банкротства оснований мы предлагаем Вам пройти <a href="/form">анкету</a>.</i></b>
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        Важно также понимать, что при реализации процедуры судебного банкротства у Вас должно быть достаточно средств для покрытия следующих расходов: государственная пошлина 300 рублей, почтовые расходы, вознаграждение финансового управляющего (которое составляет от 25 тыс. руб.), публикации сведений в ЕФРСБ. 
                    </div>
                </div>

        </section>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Порядок действий при судебном банкротстве</h2>
                </div>
                <div class="card__group">
                    <div>
                        <p><b>1) Подготовка заявления </b></p>
                        Заявление должно содержать: 
                        <ul>
                            <li>сумму требований кредиторов;</li>
                            <li>размер задолженности;</b></li>
                            <li>сведения об имеющемся у должника имуществе;</li>
                            <li>обоснование невозможности удовлетворения требований кредиторов;</li>
                            <li>наименование и адрес саморегулируемой организации, из числа членов которой должен быть утвержден финансовый управляющий<sup><a href="#note1" id="ref1">1</a></sup></li>
                        </ul>	
                        Список саморегулируемых организаций можно посмотреть на <a href="https://bankrot.fedresurs.ru/arbitrmanagers">сайте ЕФРСБ</a>.
                        
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        <p><b>2) Подача заявления </b></p>
                        <ul>
                            <li>заявление подается в арбитражный суд Вашего субъекта</li>
                            <li>способы подачи заявления
                                <ul>
                                    <li>через канцелярию суда</li>
                                    <li>онлайн через систему <a href="https://my.arbitr.ru/#index">«Мой Арбитр»</a></li>
                                </ul>
                            </li>
                        </ul>                        
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        <p><b>3) Рассмотрение заявления судом</b></p>
                        Заявление подлежит рассмотрению судом <b>не ранее 15 дней</b> и <b>не позднее 3 месяцев</b> с даты его принятия 
                        <ul>
                            <li>Суд выносит определение о признании заявления обоснованным и введении реструктуризации долгов гражданина; </li>
                            <li>после этого на задолженность прекращают начисляться штрафы и пени, требования кредиторов приостанавливаются, снимаются аресты на имущество</b></li>
                        </ul>	
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        <p><b>4) Ход процедуры банкротства</b></p>
                        <p>Существует <b>очередность</b> удовлетворения требований кредиторов. Например, при наличии обязательств по уплате алиментов, выплате вознаграждения финансовому управляющему, судебных расходов по процедуре банкротства, возмещения морального вреда и т.д. выплачиваются <b>в первую очередь.</b> </p> 
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        <table class="table">
                            <tr>
                                <th class="table_th">Мировое соглашение с кредиторами</th>
                                <th class="table_th">Реструктуризация долга</th>
                                <th class="table_th">Реализация имущества</th>
                            </tr>
                            <tr>
                                <td class="table_td">
                                    <p>По сути сделка, которая заключается между должником и кредиторами и включает то, как должник будет рассчитываться с кредиторами.</p><p> Прекращается сама процедура банкротства.</p> <p>Если должник нарушает условия соглашения, процедура банкротства возобновляется, лицо объявляется банкротом, и его имущество уже реализуют.</p>
                                </td>
                                <td class="table_td">
                                <p>Меняется порядок исполнения обязательств (можно растянуть срок выплат, уменьшить ежемесячный размер платежей).</p> <p>Финансовый управляющий с кредиторами утверждает план реструктуризации долгов, который суд может одобрить, а может и не одобрить.</p> <p>В каком случае одобряет:</p> <ul><li>у Вас есть постоянный доход;</li><li>нет неснятой или непогашенной судимости за экономические преступления<sup><a href="#note2" id="ref2">2</a></sup>;</li><li>в последние 5 лет вы не проходили процедуру банкротства и в течение 8 лет не реструктурировали долги.</li></ul>
                                </td>
                                <td class="table_td">
                                    <p>При признании судом лица банкротом (когда у человека слишком небольшой доход, чтобы выплатить все задолженности на иных условиях), всё имущество составляет конкурсную массу, которая распределяется между кредиторами.</p> <p>Не все имущество можно реализовать. Например, единственное жилье или другое имущество первой необходимости, без которого Ваше существование невозможно, реализации не подлежит.</p>
                                </td>
                            </tr>
                        </table>                        
                    </div>
                </div>

        </section>

        <section class="section">
            <div class="container__section">
                <div class="card__group">
                    <p id="note1"><sup>1</sup> <b><i>Финансовый управляющий</i></b> – профессионал, участие которого обязательно в судебном банкротстве. Он управляет имуществом должника, следит, чтобы не были нарушены права ни должника, ни кредиторов.   <a href="#ref1">Вернуться обратно</a>.</p>
                </div>
                <div class="card__group">
                    <p id="note2"><sup>2</sup> <b><i>Экономическими преступлениями</i></b> признаются деяния указанные в Разделе VIII УК РФ (ст. 158 - 204.2). <a href="#ref2">Вернуться обратно</a>.</p>
                </div>
            </div>
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">                
                        <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                </div>
                <div class="small__text">© 2024 Банкрот-эксперт</div>
            </div>
        </footer> <!--MAKED-->


    </body>
</html>