<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа с тэгом html, где указываем язык содержимого-->
<html lang="ru">
    <!--Заголовок страницы, контейнер для других важных данных(не отображается)-->
    <head>
        <!--Заголовок страницы в браузере-->
        <title>Банкрот-эксперт</title>
        <!--Кодировка страницы-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <!--Привязка css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <!--Отображаемое тело страницы-->
    <body>


        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                      <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>
                      <nav class="nav">
                              <a class="link" href="/need">Нужно ли банкротиться?</a>
                              <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                              <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                      </nav>
                    <div>
                      {% if 'loggedin' in session %}
                          <a class="link_auto" href="/profile">Профиль</a>
                          <form action="/logout" method="post">
                              <input class="link_auto" type="submit" value="Выйти">
                          </form>
                          {% else %}
                          <a class="link_auto" href="/sign-in">Войти</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Что такое судебное банкротство?</h2>
                </div>
                <div class="card__group">
                    <div>
                        <b>Судебное банкротство</b> – это способ избавиться от долгов путем обращения в суд. Подача заявления о признании гражданина банкротом в суд может быть как правом, так и обязанностью.
                        <p>Если Ваша задолженность составляет <b>более 500 тыс. руб.</b> и прошло <b>3 месяца</b>, как Вы должны были исполнить свои обязательства по платежам, то Вы <b>вправе</b> подать в суд для признания Вас банкротом (ст. 213.3 ФЗ «О банкротстве»).</p>
                        <p>Если Ваша задолженность составляет <b>более 500 тыс. руб.</b>, или Вы <b>не имеете возможности оплатить задолженность</b> в отношении всех кредиторов, то Вы <b>обязаны</b> подать в суд для признания Вас банкротом (ст. 213.4 ФЗ «О банкротстве»). </p>
                        <p><b>Важно!</b> Когда Вы узнали (или должны были узнать), что не можете заплатить всем кредиторам, у Вас есть 30 рабочих дней, чтобы подать заявление в суд. Если не успеете, то Вам придётся заплатить штраф от 1000 до 3000 рублей (п. 5 ст. 14.13 КоАП РФ).</p>
                        <p>Чтобы определить наличие оснований для прохождения процедуры судебного банкротства, пройдите <a href="/form">анкету</a>.</p>
                        <p>
                            <b>Важно! Какие долги нельзя списать по банкротству?</b>
                            </br>ФЗ «О банкротстве» определяет перечень задолженностей, не подлежащих списанию. В их число входят:
                            <ul>
                                <li>возмещение вреда здоровью и морального вреда;</li>
                                <li>алиментные платежи и долг по алиментам;</li>
                                <li>зарплата и выплаты по ТК (это актуально, когда оформляется банкротство ИП, у которого есть долг перед работниками);</li>
                                <li>штрафы за преступления, совершённые намеренно или по грубой неосторожности;</li>
                                <li>текущие долги (появившиеся при проведении банкротства — например, по ЖКХ за период процедуры).</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Порядок подачи заявления</h2>
                </div>
                <div class="card__group">
                    <div>
                        <p>Заявление о признании гражданина банкротом в судебном порядке подается в арбитражный суд субъекта РФ по месту Вашей регистрации через канцелярию суда или онлайн через систему <b><a href="https://my.arbitr.ru/">"Мой Арбитр"</a></b>.
                        </p>
                        <p>Чтобы подать заявление онлайн, необходимо: 
                            <ul>
                                <li>Авторизоваться через Госуслуги;</li>
                                <li>В разделе "Банкротство" выбрать заявление о признании физического лица банкротом;</li>
                                <li>Заполнить все поля по Вашим личным данным, а также поля о сумме задолженностей;</li>
                                <li>Выбрать суд субъекта, в котором Вы зарегистрированы (область, республика, край и т.д.);</li>
                                <li>Прикрепить подписанное заявление и другие документы.</li>
                            </ul>
                            С формой заявления и документами, которые необходимо приложить, можно ознакомиться <a href="/sample_declaration_court" target="_blank">здесь</a>.
                        </p>
                        <b>Заявление должно содержать: </b>
                        <ul>
                            <li>сумму требований кредиторов;</li>
                            <li>размер задолженности;</li>
                            <li>сведения об имеющемся у должника имуществе;</li>
                            <li>обоснование невозможности удовлетворения требований кредиторов;</li>
                            <li>наименование и адрес саморегулируемой организации, из числа членов которой должен быть утвержден финансовый управляющий.</li>
                        </ul>	
                        <p><b>Важно! </b>Если в заявлении не будут указаны эти данные, суд оставит его без рассмотрения.</p>
                        <p><b>Финансовый управляющий</b> – профессионал, участие которого обязательно в судебном банкротстве. Он управляет имуществом должника, следит, чтобы не были нарушены права ни должника, ни кредиторов. Финансовый управляющий состоит в саморегулируемой организации – объединении субъектов профессиональной деятельности в конкретной сфере.</p>
                        <p><b>Важно!</b> При реализации процедуры судебного банкротства у Вас должно быть достаточно средств для покрытия следующих расходов: государственная пошлина 300 рублей, почтовые расходы, вознаграждение финансового управляющего (которое составляет от 25 тыс. руб.), публикации сведений в ЕФРСБ.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Рассмотрение заявления судом</h2>
                </div>
                <div class="card__group">
                    <div>
                        <p>Срок рассмотрения – <b>не менее 15 дней</b> и <b>не более 3 месяцев</b> с даты его принятия.</p>
                        <p>Если заявление обоснованное, суд выносит определение и на задолженность не начисляются штрафы и пени, проценты, снимаются аресты на имущество и т.д. (ст. 213.11 ФЗ «О банкротстве»).</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Ход процедуры банкротства</h2>
                </div>
                <div class="card__group">
                    <div>
                        <div>
                            <p>Существует очередность удовлетворения требований кредиторов. Например, при наличии обязательств по уплате алиментов, выплате вознаграждения финансовому управляющему, судебных расходов по процедуре банкротства, возмещения морального вреда и т.д. выплачиваются в первую очередь.</p>
                            <p>В банкротстве могут происходить следующие процессы в зависимости от каждой ситуации:
                                <ul>
                                    <li>
                                        <p><b>Мировое соглашение с кредиторами</b> – по сути сделка, которая заключается между должником и кредиторами, включающая условия того, как должник будет рассчитываться с кредиторами. Сама процедура банкротства прекращается.
                                            <p><b>Важно! </b>Если должник нарушает условия соглашения, то возобновляется процедура банкротства, лицо объявляется банкротом, и его имущество реализовывают.</p>
                                        </p>
                                    </li>
                                    <li>
                                        <p><b>Реструктуризация долга</b> – меняется порядок исполнения обязательств, т.е. можно растянуть срок выплат, уменьшить ежемесячный размер платежей.
                                            <br>Финансовый управляющий с кредиторами утверждает план реструктуризации долгов, а суд его одобряет.
                                            <p>В каком случае суд одобряет план реструктуризации?
                                                <ul>
                                                    <li>У Вас есть постоянный доход;</li>
                                                    <li>Нет неснятой или непогашенной судимости за экономические преступления;</li>
                                                    <li>В последние 5 лет вы не проходили процедуру банкротства и в течение 8 лет не реструктуризировали долги.</li>
                                                </ul>
                                            </p>
                                        </p>
                                    </li>
                                    <li>
                                        <p><b>Реализация имущества</b> – применяется при признании судом лица банкротом (когда у человека слишком небольшой доход, чтобы выплатить все задолженности на иных условиях).
                                            <br>Всё имущество составляет конкурсную массу, которая распределяется между кредиторами. Под реализацию также может попасть имущество, нажитое в браке.
                                            <p><b>Важно!</b>     Не все имущество можно реализовать, например, единственное жилье или другое имущество, без которого ваше существование невозможно под реализацию не попадает. </p></p>
                                    </li>
                                </ul> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Завершение судебной процедуры банкротства</h2>
                </div>
                <div class="card__group">
                    <div>
                        <p>После завершения реализации имущества финансовый управляющий предоставляет в арбитражный суд отчет о результатах, а арбитражный суд выносит определение о завершении реализации имущества. Процедура банкротства завершается. С этого момента гражданин, признанный банкротом, освобождается от исполнения требований кредиторов.
                        </p>
                    </div>
                </div>    
            </div><!--/.card-->
        </section>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Повторная подача заявления</h2>
                </div>
                <div class="card__group">
                    <div>
                        Гражданин вправе повторно подать заявление о признании его банкротом в судебной порядке <b>не ранее, чем по истечении 5 лет</b> после дня прекращения процедуры судебного банкротства (ст. 213.30 ФЗ «О банкротстве»).
                    </div>
                </div>
            </div><!--/.card-->
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">                
                        <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                </div>
                <div class="small__text">Администрация сайта не несет ответственности за дальнейшие действия пользователя, основанные на полученных данных.</div>
            </div>
        </footer> <!--MAKED-->


    </body>
</html>