<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа с тэгом html, где указываем язык содержимого-->
<html lang="ru">
    <!--Заголовок страницы, контейнер для других важных данных(не отображается)-->
    <head>
        <!--Заголовок страницы в браузере-->
        <title>Банкрот-эксперт</title>
        <!--Кодировка страницы-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <!--Привязка css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <!--Отображаемое тело страницы-->
    <body>


        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                      <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>
                      <nav class="nav">
                              <a class="link" href="/need">Нужно ли банкротиться?</a>
                              <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                              <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                      </nav>
                    <div>
                      {% if 'loggedin' in session %}
                          <a class="link_auto" href="/profile">Профиль</a>
                          <form action="/logout" method="post">
                              <input class="link_auto" type="submit" value="Выйти">
                          </form>
                          {% else %}
                          <a class="link_auto" href="/sign-in">Войти</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <br>
                    <h3 class="section__title"><a name="plusk">Плюсы</a></h3>
                </div>
                <div class="card__group">
                    <ul>
                        <li>Не нужно больше самостоятельно платить по кредитам. Всю работу за Вас будет делать финансовый управляющий.</li>
                        <li>Останавливается начисление любых пеней, штрафов, процентов. Сумма долга фиксируется.</li>
                        <li>Останавливаются исполнительные производства. Аресты с имущества, счетов и кошельков снимаются.</li>
                        <li>Приставы не вправе приходить описывать ваше имущество, они обязаны снять ограничение на пользование водительскими правами, отменить запрет на выезд за рубеж. (При этом суд может ограничить выезд если сочтет это необходимым).</li>
                        <li>Прекращаются звонки и визиты коллекторов, служб взыскания банков и МФО. Любые их вопросы решаются в суде либо переадресовываются вашему финансовому управляющему.</li>
                    </ul>
                </div><!--/.card-->
        </section>
        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h3 class="section__title"><a name="minus">Минусы</a></h3>
                </div>
                <div class="card__group">
                    <ul>
                        <li>Пока идет процедура, вы теряет право управлять своими финансами: как наличными средствами, так и счетами в банках. Это должен делать финансовый управляющий.</li>
                        <li>Физическому лицу в стадии банкротства нельзя открывать вклады — ни сберкнижки, ни карты с процентом на остаток, ни депозиты, ни монометаллические, ничего подобного.</li>
                        <li>Банкрот обязан передать все банковские карты, пароли от личных кабинетов онлайн-банков и электронных счетов управляющему.</li>
                        <li>Несение определенных имущественных издержек на оплату процедуры и связанные с ней расходы.</li>
                        <li>Под реализацию может попасть общее супружеское имущество, нажитое в браке.</li>
                    </ul>
                </div><!--/.card-->
        </section>
        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h3 class="section__title"><a name="conseq">Последствия</a></h3>
                </div>
                <div class="card__group">
                    <ul>
                        Какие негативные последствия ждут Вас после окончания процедуры банкротства? <br/><br/>
                        <li>Вы <b>навсегда испортите свою кредитную историю</b>. Банки крайне неохотно будут выдавать вам кредиты в будущем;</li>
                        <li><b>В течение 5 лет Вы будете обязаны указывать о своем банкротстве</b> при попытке оформить займ или кредит в любой финансовой организации. Запись о Вашем банкротстве в любом случае будет отображаться в кредитной истории;</li>
                        <li>Также <b>в течение 5 лет вы не сможете снова открыть процедуру банкротства</b>.  Кредиторы будут более активно взыскивать с вас долг, прождать этот срок в ожидании новой возможности не получится;</li>
                        <li>Если Вы являетесь <b>ИП, то у Вас отнимут регистрацию и все лицензии</b> на осуществление отдельных видов предпринимательской деятельности. <b>Вы не сможете заниматься предпринимательской деятельностью в таком статусе, пока не пройдет 5-летний срок с момента окончания производства</b>, в таком качестве вас просто не зарегистрируют. Это распространяется и на тех лиц, кто потерял такой статус не позднее года до момента подачи заявления на банкротство. Обычных граждан такое ограничение не касается;</li>
                        <li>
                            Со статусом банкрота <b>Вы не сможете занимать занимать должности в органах управления юридического лица</b> или иным образом участвовать в его управлении в течение следующих периодов:
                            <ol>
                                <li>10 лет - в отношении кредитной организации;</li>
                                <li>5 лет - в отношении страховой организации, НПФ, управляющей компании инвестиционного фонда, паевого инвестиционного фонда и НПФ или микрофинансовой компании;</li>
                                <li>3 года - в отношении иных организаций.</li>
                            </ol>
                        </li>
                    </ul>
                </div><!--/.card-->
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">     
                        <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                </div>
                <div class="small__text">© 2024 Банкрот-эксперт</div>
            </div>
        </footer> <!--MAKED-->
    </body>
</html>