<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа с тэгом html, где указываем язык содержимого-->
<html lang="ru">
    <!--Заголовок страницы, контейнер для других важных данных(не отображается)-->
    <head>
        <!--Заголовок страницы в браузере-->
        <title>Банкрот-эксперт</title>
        <!--Кодировка страницы-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <!--Привязка css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <!--Отображаемое тело страницы-->
    <body>


        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                      <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>
                      <nav class="nav">
                              <a class="link" href="/need">Нужно ли банкротиться?</a>
                              <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                              <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                      </nav>
                    <div>
                      {% if 'loggedin' in session %}
                          <a class="link_auto" href="/profile">Профиль</a>
                          <form action="/logout" method="post">
                              <input class="link_auto" type="submit" value="Выйти">
                          </form>
                          {% else %}
                          <a class="link_auto" href="/sign-in">Войти</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Что такое внесудебное банкротство?</h2>
                </div>
                <div class="card__group">
                    <div><b><i>Внесудебное банкротство</i></b> – это возможность избавиться от долгов перед кредиторами без обращения в суд. Важно понимать, что реализация данного вида банкротства является именно <i>правом</i> гражданина, а не обязанностью! Главным плюсом этой процедуры, в отличие от банкротства в суде, является её <b>бесплатность</b>.
                    </div>
                </div>
                <div class="card__group">
                    <div>Гражданин, общий размер денежных обязательств которого составляет <u><i>не менее 25 тыс. руб. и не более 1 млн. руб.</i></u>, имеет право обратиться с заявлением о признании его банкротом во внесудебном порядке (то есть без необходимости обращения в суд) – (ст. 223.2 ФЗ о банкротстве).</div>    
                </div>
            <div class="card__group">
                <i><b>Чтобы определить наличие оснований для внесудебного банкротства, ответьте на вопросы <a href="/form">анкеты</a>.</b></i>
            </div>
            </div><!--/.card-->
        </section>

        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Порядок подачи заявления</h2>
                </div>
                <div class="card__group">
                    <div>
                        Заявление о признании гражданина банкротом во внесудебном порядке подается им в МФЦ <b>по месту жительства</b> или <b>месту пребывания</b> (ст. 223.2 ФЗ о банкротстве)
                    </div>
                </div>
                <div class="card__group">
                    <div>
                        К заявлению гражданин обязан приложить:<br/>
                        <ul>

                        <li>список всех известных ему кредиторов</li>
                        <li>копию документа, удостоверяющего личность гражданина;</li>
                        <li><a href="https://cloud.consultant.ru/cloud/cgi/online.cgi?req=query&mode=multiref&rnd=dIzpHw&REFBASE=CJI&REFDOC=94595&REFFIELD=134&REFSEGM=317&REFIDX=82&REFDST=100088&REFPAGE=text#i0GIE8U4aOPStmd91">справки</a>, подтверждающие наличие оснований для обращения в МФЦ с заявлением (важно помнить, что предоставленные справки должны иметь срок не более чем 3 месяца до момента обращения гражданина с заявлением). Стоит заметить, что с 1 января 2024 года при наличии технической возможности МФЦ могут запросить данные справки самостоятельно у соответствующих органов.</li>

                    </ul>
                    <b>Важно!</b> Заявление рассматривается бесплатно.
                </div>
                </div>
            </div><!--/.card-->
        </section>

        <section class="section">
            <div class="container__section">
                <div class="section__header">
                    <h2 class="section__title">Внесение сведений о банкротстве в Единый федеральный реестр</h2>
                </div>
                <div class="card__group">
                    <div>
                        Далее на основании полученных данных МФЦ <b><i>в течение трех рабочих дней</i></b> (в некоторых случаях – <i>в течение одного рабочего дня</i>, следующего за днем обращения) включает в ЕФРСБ <i>проект сообщения о возбуждении процедуры внесудебного банкротства</i> в отношении гражданина. 
                        <br>При отсутствии оснований для возврата заявления <b><i>в течение одного рабочего дня</i></b> в Едином федеральном реестре должна быть размещена информация о начале реализации процедуры внесудебного банкротства гражданина <i>(см. ст. 223.2 ФЗ «О несостоятельности (банкротстве)»)</i>.
                        </br></br><b>Важно!</b> Какие долги нельзя списать по банкротству?
                        <br>ФЗ о банкротстве определяет перечень задолженностей, не подлежащих списанию. В их число входят:
                            <ul>
                            <li>возмещение вреда здоровью и морального вреда;</li>
                            <li>алиментные платежи и долг по алиментам;</li>
                            <li>зарплата и выплаты по ТК (это актуально, когда оформляется банкротство ИП, у которого есть долг перед работниками);</li>
                            <li>штрафы за преступления, совершённые намеренно или по грубой неосторожности;</li>
                            <li>текущие долги (появившиеся при проведении банкротства — например, по ЖКХ за период процедуры);</li>
                            <li>субсидиарная ответственность.</li>
                        </ul>
                    </div>
                </div>
            </div><!--/.card-->
        </section>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Завершение внесудебной процедуры банкротства</h2>
                </div>
                <div class="card__group">
                    <div>
                        По истечении <i>шести месяцев</i> с момента включения таких сведений в реестр процедура внесудебного банкротства гражданина завершается, и гражданин освобождается от дальнейшего исполнения требований кредиторов, указанных им в заявлении о признании его банкротом.
                    </div>
                </div>    
            </div><!--/.card-->
        </section>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h2 class="section__title">Повторная подача заявления</h2>
                </div>
                <div class="card__group">
                    <div>
                        Гражданин вправе повторно подать заявление о признании его банкротом во внесудебном порядке <i>не ранее чем по истечении пяти лет</i> после дня прекращения процедуры внесудебного банкротства.
                    </div>
                </div>
            </div><!--/.card-->
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">     
                        <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                </div>
                <div class="small__text">© 2024 Банкрот-эксперт</div>
            </div>
        </footer> <!--MAKED-->


    </body>
</html>