<!--Сообщаем браузеру как стоит обрабатывать эту страницу-->
<!DOCTYPE html>
<!--Оболочка документа с тэгом html, где указываем язык содержимого-->
<html lang="ru">
    <!--Заголовок страницы, контейнер для других важных данных(не отображается)-->
    <head>
        <!--Заголовок страницы в браузере-->
        <title>Банкрот-эксперт</title>
        <!--Кодировка страницы-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
        <!--Привязка css-->
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c3770d0828.js" crossorigin="anonymous"></script>
    </head>
    <!--Отображаемое тело страницы-->
    <body>


        <header class="header__group">
            <div class="container">
                <div class="header__inner">
                    <div class="logo">
                    <a class="logo_link" href="../" data-scroll="#main">Банкрот-эксперт</a>
                    </div>

                    <nav class="nav">
                        <a class="link" href="/need">Нужно ли банкротиться?</a>
                        <a class="link" href="/judicial_bankruptcy">Судебное банкротство</a>
                        <a class="link" href="/out-of-court_bankruptcy">Внесудебное банкротство</a>
                        <a class="link" href="/settings">Настройки</a>
                        <a class="link" href="#" data-scroll="#contacts">Контакты</a>
                        {% if 'loggedin' in session %}
                        <a class="link_auto" href="/profile">Профиль</a>
                        <form action="/logout" method="post">
                            <input class="link_auto" type="submit" value="Выйти">
                        </form>
                        {% else %}
                        <a class="link_auto" href="/sign-in">Войти</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </header>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h3 class="section__title">Внесудебное банкротство: что это и с чем его едят?</h3>
                </div>
                <div class="card__group">
                    Внесудебное банкротство – это возможность избавиться от долгов перед кредиторами без обращения в суд. Важно понимать, что реализация данного вида банкротства является именно правом гражданина, а не обязанностью! <br/>
                    Гражданин, общий размер денежных обязательств которого составляет не менее 25 тыс. руб. и не более 1 млн. руб., имеет право обратиться с заявлением о признании его банкротом во внесудебном порядке (то есть без необходимости обращения в суд). 
                </div>
                <div class="card__group">
                    Форму заявления можно посмотреть по ссылке (ТУТ ССЫЛКА НА К+, НО МЫ ЭТУ ФОРМУ ДОЛЖНЫ СКАЧАТЬ И ВСТАВИТЬ В НАШ САЙТ).
                </div>
                <div class="card__group">
                <b>Важно помнить, что для реализации данной возможности, у гражданина должны быть определенные основания. Для выявления наличия у Вас необходимых для открытия процедуры внесудебного банкротства оснований, мы предлагаем Вам пройти анкету (ТУТ ВСТАВИМ ССЫЛКУ НА АНКЕТУ НА НАШЕМ САЙТЕ).
                </b> 
                </div>
            </div><!--/.card-->
        </section>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h3 class="section__title">Порядок подачи заявления</h3>
                </div>
                <div class="card__group">
                    Заявление о признании гражданина банкротом во внесудебном порядке подается им в МФЦ по месту жительства или месту пребывания.
                    <br/> Список многофункциональных центров с указанием адресов можно посмотреть по ссылке.
                </div>
                <div class="card__group">
                    
                    <ul>
                        К заявлению гражданин обязан приложить:<br/>
                    <li>список всех известных ему кредиторов, оформленный в соответствии с заданной формой (СНОВА ССЫЛКА НА К+, НО МЫ ЭТУ ФОРМУ ДОЛЖНЫ СДЕЛАТЬ У НАС НА САЙТЕ);</li><br/>
                    <li>копию документа, удостоверяющего личность гражданина;</li><br/>
                    <li>справки (СНОВА СПИСОК СПРАВОК В К+, НО МЫ ИХ ПРОСТО ВЫВОДИМ НА ОТДЕЛЬНОЙ СТРАНИЦЕ САЙТА), подтверждающие наличие оснований для обращения в МФЦ с заявлением (важно помнить, что предоставленные справки должны иметь срок не более чем 3 месяца до момента обращения гражданина с заявлением).</li><br/>
                    Важно! Рассмотрение заявления осуществляется без взимания платы.
                </ul>
                    
                </div>
                <div class="card__group">
                <b>Важно помнить, что для реализации данной возможности, у гражданина должны быть определенные основания. Для выявления наличия у Вас необходимых для открытия процедуры внесудебного банкротства оснований, мы предлагаем Вам пройти анкету (ТУТ ВСТАВИМ ССЫЛКУ НА АНКЕТУ НА НАШЕМ САЙТЕ).
                </b> 
                </div>
            </div><!--/.card-->
        </section>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h3 class="section__title">Внесение сведений о банкротстве в Единый федеральный реестр</h3>
                </div>
                <div class="card__group">
                    Далее на основании полученных данных МФЦ в течение трех рабочих дней (в некоторых случаях – в течение одного рабочего дня, следующего за днем обращения) включает в Единый федеральный реестр сведений о банкротстве проект сообщения о возбуждении процедуры внесудебного банкротства в отношении гражданина. 
                    При отсутствии оснований для возврата заявления, в течение одного рабочего дня в Едином федеральном реестре должна быть размещена информация о начале реализации процедуры внесудебного банкротства гражданина.

                </div>
            </div><!--/.card-->
        </section>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h3 class="section__title">Завершение внесудебной процедуры банкротства</h3>
                </div>
                <div class="card__group">
                    По истечении шести месяцев с момента включения таких сведений в реестр процедура внесудебного банкротства гражданина завершается, и гражданин освобождается от дальнейшего исполнения требований кредиторов, указанных им в заявлении о признании его банкротом.
                </div>
            </div><!--/.card-->
        </section>

        <section class="section">
            <div class="container__section">
        
                <div class="section__header">
                    <h3 class="section__title">Повторная подача заявления</h3>
                </div>
                <div class="card__group">
                    Гражданин вправе повторно подать заявление о признании его банкротом во внесудебном порядке не ранее чем по истечении пяти лет после дня прекращения процедуры внесудебного банкротства.
                </div>
            </div><!--/.card-->
        </section>

        <footer class="small__section" id="contacts">
            <div class="container">
                <div class="small__inner">
                    <div class="small__text">
                        
                        <a class="logo_link" href="#" data-scroll="#main"><h2>Банкрот-эксперт</h2></a>
                    </div>
                    <div class="small__text">
                        <p><h3>Категории</h3></p>
                        <br>
                        <p><a href="#">Судебное банкротство</a></p>
                        <p><a href="#">Внесудебное банкротство</a></p>
                        <p><a href="#">Настройки</a></p>
                    </div>
                    <div class="small__text">
                        <p><h3>Навигация</h3></p>
                        <br>
                        <p><a href="#">Главная</a></p>
                        <p><a href="#">Контакты</a></p>
                    </div>
                </div>
                <div class="small__text">© 2024 Банкрот-эксперт</div>
            </div>
        </footer> <!--MAKED-->


    </body>
</html>