<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Название сервиса</title>
    <link rel="stylesheet" href="./static/css/index_style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
        <h1>Название сервиса</h1>
        <nav>
            <ul>
              <li><a href="/info">Внесудебное банкротство</a></li>
              <li><a href="/info">Судебное банкротство</a></li>
                <li style="float: right; font-size: small;"><a href="#">Авторизация/Регистрация</a></li>
            </ul>
        </nav>
        <hr> 
    </header>
    <main>
        
    </main>
  </body>
</html>





