<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Банкрот-эксперт</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sign_in_up.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login">
        <h1>Авторизация</h1>
        <form action="" method="post">
            <label for="username">Логин</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Войти">
        </form>
        <div class="links">
            <a href="{{ url_for('sign_up') }}">Зарегистироваться</a>
        </div>
    </div>
</body>
</html>
